body {
	margin: 0;
	padding: 0;
	font-family: sans;
	background-color: #252a37;
}

.topo{
	background-color: #0f1625;
	margin-bottom: 126px;/*
	background-image: url('fundo2.png');*/
}

.nome{
	color:#00fcff;
	text-align: center;
	margin-top: 0px;
	text-shadow: 0px 0px 5px #00fcff;
}

.avatar{
	position:relative;
	width:250px;
	height:250px;
	border-radius: 360px;
	left: 50%;
	margin-left: -125px;
	top: 130px;
	margin-top:-140px;
	border:3px solid #00fcff;
	color:white;
	margin-bottom: 10px;
}

.title{
	color:#00fcff;
	text-shadow: 0px 0px 5px #00fcff;
}

.progress{
	max-width: 350px;
	padding: 10px;
	background-color: #0f1625;
}

.azul{
	color:#00fcff;
	border:2px solid #00fcff;
	text-shadow: 0px 0px 5px #00fcff;
}

.amarelo{
	color: #feff00;
	border:2px solid #feff00;
	text-shadow: 0px 0px 5px #feff00;
}

.vermelho{ 
	color: #ff0000;
	border:2px solid #ff0000;
	text-shadow: 0px 0px 5px #ff0000;
}

.skills, .project, .contato{
	float: right;
}
.ocupacao ,.info, .estudando{
	float: left;
}

.contato, .ocupacao ,.info ,.skills ,.estudando ,.project{
	color:white;
	background-color: #0f1625;
	width: 45%;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border:2px solid #00fcff;
	padding: 10px;
}

@media (max-width:900px){
	.contato, .info, .skills, .ocupacao, .estudando ,.project{
		width: auto;
	}
}

@media (max-width: 500px){
	.avatar{
		width:150px;
		height:150px;
		border-radius: 360px;
		left: 50%;
		margin-left: -81px;
		top: 130px;
		margin-top:-140px;
		border:3px solid #00fcff;
		color:white;
		margin-bottom: 10px;
	}

	.progress{
		max-width: auto;
		padding: 5px;
		background-color: #0f1625;
}

	.nome{
		font-size: 24px;
	}
}